<template>
	<view class="pages">
		<view style="text-align: center;line-height: 3;font-size: 32rpx;">邵氏消防商城隐私政策</view>
		
		<view class="cm_text cm_tex_c">邵氏消防商城 2019-11-11</view>
		
		<view class="cm_title">提示条款</view>
		
		<view class="cm_text">您的信任对我们非常重要，我们深知个人信息对您的重要性，我们将按法律法规要求，采取相应安全保护措施，尽力保护您的个人信息安全可控。鉴于此，邵氏消防商城服务提供者（或简称"我们"）制定本《隐私保护政策》（下称"本政策 /本隐私保护政策"）并提醒您：
		
		本政策适用于邵氏消防商城提供的所有产品和服务。
		
		需要特别说明的是，本政策不适用于其他第三方向您提供的服务，也不适用于邵氏消防商城中已另行独立设置法律声明及隐私权政策的产品或服务。例如邵氏消防商城上的卖家依托邵氏消防商城向您提供服务时，您向卖家提供的个人信息不适用本政策。
		
		在使用邵氏消防商城各项产品或服务前，请您务必仔细阅读并透彻理解本政策，在确认充分理解并同意后使用相关产品或服务。一旦您开始使用邵氏消防商城各项产品或服务，即表示您已充分理解并同意本政策。如对本政策内容有任何疑问、意见或建议，您可通过邵氏消防商城提供的各种联系方式与我们联系。
		</view>
		 
		
		<view class="cm_title">第一部分 定义</view>
		
		邵氏消防商城：指福建合家慈旅游文化发展有限公司。
		
		邵氏消防商城平台：邵氏消防商城APP客户端以及邵氏消防商城微信公众号等服务媒介。
		
		邵氏消防商城服务提供者：指邵氏消防商城的网络及软件技术服务提供者-福建合家慈旅游文化发展有限公司。
		
		个人信息：指以电子或者其他方式记录的能够单独或者与其他信息结合识别特定自然人身份或者反映特定自然人活动情况的各种信息。
		
		个人敏感信息：指包括身份证件号码、个人生物识别信息、银行账号、财产信息、行踪轨迹、交易信息、14岁以下（含）儿童信息等的个人信息。
		
		个人信息删除：指在实现日常业务功能所涉及的系统中去除个人信息的行为，使其保持不可被检索、访问的状态。 
		
		 
		
		<view class="cm_title">第二部分 隐私权政策</view>
		
		本隐私权政策部分将帮助您了解以下内容：</br>
		
		一、我们收集了哪些信息</br>
		
		二、我们如何使用收集的信息</br>
		
		三、我们如何使用Cookie和同类技术</br>
		
		四、我们如何共享、转让、公开披露您的信息</br>
		
		五、我们如何保护您的信息</br>
		
		六、您如何管理您的信息</br>
		
		七、我们如何处理未成年人的信息</br>
		
		八、您的信息如何在全球范围转移</br>
		
		九、本隐私权政策如何更新</br>
		
		十、如何联系我们</br>
		
		 
		
		<view class="title ">一、我们收集了哪些信息</view>
		
		（一）您创建或者提供给我们的信息 </br>
		
		1、成为我们的用户
		
		<view class="cm_text">我们通过邵氏消防商城平台账户为您提供用户服务。为使用我们的用户服务，您需要创建邵氏消防商城平台账 户，提供手机号码、拟使用的用户名或者关注邵氏消防商城微信公众号。如果您仅需使用浏览、搜索服务，您不需要注册成为我们的用户及提供上述信息。
		
		如果您需要注册为卖家，除了上述信息外，我们会收集您的身份信息或企业基本信息等法律规定收集的信息。
		
		对于需要通过邵氏消防商城平台账户才能使用的服务，我们可能会根据您提供的上述信息校验您的用户身份，确保我们是在为您本人提供服务。</view>
		
		2、完成您相关的交易
		
		<view class="cm_text">为完成您所选择或达成的交易，请您提供收货人姓名、收货地址、收货人联系电话。
		
		您可以通过邵氏消防商城为其他人购买商品，您需要提供该实际收货人的前述个人信息。在向邵氏消防商城提供这些个人信息之前，您需确保您已经取得合法的授权。
		
		为便于向您提供订单管理服务，我们会收集您在使用我们服务过程中产生的订单信息。</view>
		
		（二）我们在您使用服务过程中收集的信息
		
		<view class="cm_text">我们会收集关于您使用我们产品或服务以及使用方式的信息，这些信息包括：
		
		设备信息：我们会根据您在软件安装及/或使用中授予的具体权限，接收并记录您所使用的设备相关信息（例如设备型号、操作系统版本、设备设置、唯一设备标识符、设备环境等软硬件特征信息）、设备所在位置相关信息（例如IP 地址、GPS位置以及能够提供相关信息的WLAN接入点、蓝牙和基站等传感器信息）。如果您在安装及/或使用过程中拒绝授予我们相应权限的，我们并不会记录您上述对应的信息（但此等操作可能导致您无法使用部分邵氏消防商城平台服务）。
		
		服务日志信息：当您使用我们的客户端或微信公众号提供的产品或服务时，我们会自动收集您对我们服务的详细使用情况，作为有关网络日志保存。例如搜索查询内容、IP地址、浏览器的类型、电信运营商、使用的语言、访问日期和时间及您访问的网页记录等。
		
		请您理解，单独的设备信息、日志信息等是无法识别特定自然人身份的信息。除非将这类非个人信息与其他信息结合用于识别特定自然人身份，或者将其与个人信息结合使用，那么在结合使用期间，这类非个人信息将被视为个人信息，我们会将该类个人信息做匿名化、去标识化处理（取得您的授权或法律法规另有规定的情况除外）。
		
		当您与我们联系时，为验证您的身份，帮助您解决问题，我们可能会记录您与我们的对话并收集其他为解决问题所需的必要信息。</view>
		
		（三）我们通过间接获得方式收集到的您的信息
		
		<view class="cm_text">为确认交易状态，为您提供售后与争议解决服务，我们会通过您基于交易所选择的交易对象、支付机构、物流公司等，收集与交易进度相关的您的交易、支付、物流信息。
		
		其他用户提供或分享的信息中可能含有您的信息。例如，其他用户提供的物流地址或分享的内容中可能包含您的信息。 </view>
		
		 
		
		<view class="title">二、我们如何使用收集的信息</view>
		
		<view class="cm_text">1、向您提供产品或服务。</view>
		
		<view class="cm_text">2、为改善我们的产品或服务，以便向您提供更符合您个性化需求的信息展示、搜索及交易服务，我们会根据您的浏览及搜索记录、设备信息、位置信息、订单信息，提取您的浏览及搜索偏好、行为习惯、位置信息等特征，基于特征标签进行间接人群画像，并展示、推送信息和可能的商业广告。
		
		如果您不想接收我们给您发送的商业广告，您可通过短信提示回复退订或我们提供的其他方式进行退订。</view>
		
		<view class="cm_text">3、为提高您使用我们提供服务的安全性，确保操作环境安全与识别用户账号异常状态，保护您或其他用户或公众的人身财产安全免遭侵害，更好地预防钓鱼网站、欺诈、网络漏洞、计算机病毒、网络攻击、网络侵入等安全风险，更准确地识别违反法律法规或邵氏消防商城相关协议规则的情况，我们可能使用或整合您的用户信息、交易信息、设备信息、有关网络日志综合判断您邵氏消防商城平台账户及交易风险、进行身份验证、检测及防范安全事件，并依法采取必要的记录、审计、分析、处置措施。</view>
		
		<view class="cm_text">4、我们可能会对收集的信息进行去标识化地研究、统计分析和预测，用于改善邵氏消防商城的内容和布局，为商业决策提供产品或服务支撑，以及改进我们的产品和服务（例如使用匿名数据进行机器学习或模型算法训练）。</view>
		
		<view class="cm_text">5、如我们停止运营邵氏消防商城产品或服务，我们将及时停止继续收集您个人信息的活动，将停止运营的通知以逐一送达或公告的形式通知您，并对我们所持有的与已关停业务相关的个人信息进行删除或匿名化处理。</view>
		
		<view class="cm_text">6、若我们将信息用于本政策未载明的其他用途，或者将基于特定目的收集而来的信息用于其他目的时，会事先征求您的同意。</view>
		
		 
		
		<view class="title">三、我们如何使用Cookie和同类技术</view>
		
		（一）Cookie 
		
		<view class="cm_text">为确保网站正常运转、为您获得更轻松的访问体验、向您推荐您可能感兴趣的内容，我们会在您的计算机或移动设备上存储Cookie、Flash Cookie，或浏览器（或关联应用程序）提供的其他通常包含标识符、站点名称以及一些号码和字符的本地存储（统称"Cookie"）。借助于Cookie，网站能够存储您的偏好等数据。
		
		如果您的浏览器或浏览器附加服务允许，您可修改对Cookie的接受程度或拒绝我们的Cookie。有关详情，请参见AboutCookies.org。但如果您这么做，在某些情况下可能会影响您安全访问我们的网站，且可能需要在每一次访问我们的网站时更改用户设置。</view>
		
		（二）Cookie同类技术
		
		<view class="cm_text">除Cookie外，我们还会在网站上使用网站信标、像素标签、ETag等其他同类技术。
		
		例如，我们向您发送的电子邮件可能含有链接至我们网站内容的地址链接，如果您点击该链接，我们则会跟踪此次点击，帮助我们了解您的产品或服务偏好，以便于我们主动改善客户服务体验。网站信标通常是一种嵌入到网站或电子邮件中的透明图像。借助于电子邮件中的像素标签，我们能够获知电子邮件是否被打开。如果您不希望自己的活动以这种方式被追踪，则可以随时从我们的寄信名单中退订。
		
		ETag（实体标签）是在互联网浏览器与互联网服务器之间背后传送的HTTP协议标头，可代替Cookie。ETag可以帮助我们避免不必要的服务器负载，提高服务效率，节省资源、能源，同时，我们可能通过ETag来记录您的身份，以便我们可以更深入地了解和改善我们的产品或服务。大多数浏览器均为用户提供了清除浏览器缓存数据的功能，您可以在浏览器设置功能中进行相应的数据清除操作。但请注意，如果停用ETag，您可能无法享受相对更佳的产品或服务体验。</view>
		
		 
		
		<view class="title">四、我们如何共享、转让、公开披露您的信息</view>
		
		（一）共享 </br>
		
		我们不会与邵氏消防商城服务提供者以外的公司、组织和个人共享您的个人信息，但以下情况除外：
		
		<view class="cm_text">1、在法定情形下的共享：我们可能会根据法律法规规定、诉讼争议解决需要，或按行政、司法机关依法提出的要求，对外共享您的个人信息。</view>
		
		<view class="cm_text">2、在获取明确同意的情况下共享：获得您的明确同意后，我们会与其他方共享您的个人信息。</view>
		
		<view class="cm_text">3、在您主动选择情况下共享： 您通过邵氏消防商城平台购买商品或服务，我们会根据您的选择，将您的订单信息中与交易有关的必要信息共享给相关商品或服务的提供者，以实现您的交易及售后服务需求。</view>
		
		<view class="cm_text">4、与授权合作伙伴共享：我们可能委托授权合作伙伴为您提供某些服务或代表我们履行职能，我们仅会出于本隐私权政策声明的合法、正当、必要、特定、明确的目的共享您的信息，授权合作伙伴只能接触到其履行职责所需信息，且不得将此信息用于其他任何目的。</view>
		
		目前，我们的授权合作伙伴包括以下类型：
		
		<view class="cm_text">（1）广告、分析服务类的授权合作伙伴。除非得到您的许可，否则我们不会将您的个人身份信息与提供广告、分析服务的合作伙伴共享。我们会向这些合作伙伴提供有关其广告覆盖面和有效性的信息，但不会提供您的个人身份信息，或者我们将这些信息进行汇总，以便它不会识别您个人。这类合作伙伴可能将上述信息与他们合法获取的其他数据相结合，以进行广告或决策建议。</view>
		
		<view class="cm_text">（2）供应商、服务提供商和其他合作伙伴。我们将信息发送给支持我们业务的供应商、服务提供商和其他合作伙伴，这些支持包括提供技术基础设施服务、分析我们服务的使用方式、衡量广告和服务的有效性、提供客户服务、支付便利或进行学术研究和调查。
		
		我们会与其约定严格的数据保护措施，令其按照我们的说明、本隐私保护政策以及其他任何相关的保密和安全措施来处理个人信息。</view>
		
		（二）转让</br>

		我们不会将您的个人信息转让给任何公司、组织和个人，但以下情况除外：

		<view class="cm_text">1、在获取明确同意的情况下转让：获得您的明确同意后，我们会向其他方转让您的个人信息；</view>

		<view class="cm_text">2、在邵氏消防商城服务提供者发生合并、收购或破产清算情形，或其他涉及合并、收购或破产清算情形时，如涉及到个人信息转让，我们会要求新的持有您个人信息的公司、组织继续受本政策的约束，否则我们将要求该公司、组织和个人重新向您征求授权同意。</view>

		（三）公开披露</br>

		我们仅会在以下情况下，公开披露您的个人信息：

		<view class="cm_text">1、获得您明确同意或基于您的主动选择，我们可能会公开披露您的个人信息；</view>

		<view class="cm_text">2、如果我们确定您出现违反法律法规或严重违反邵氏消防商城平台相关协议及规则的情况，或为保护邵氏消防商城平台用户或公众的人身财产安全免遭侵害，我们可能依据法律法规、平台规则或在征得您同意的情况下披露关于您的个人信息，包括相关违规行为以及邵氏消防商城平台已对您采取的措施。例如，若您因出售假冒商品而严重违反邵氏消防商城规则，我们可能会公开披露您的店铺认证主体信息与违规情况。</view>

		（四）共享、转让、公开披露个人信息时事先征得授权同意的例外</br>

		以下情形中，共享、转让、公开披露您的个人信息无需事先征得您的授权同意：

		<view class="cm_text">1、与国家安全、国防安全有关的；</view>

		<view class="cm_text">2、与公共安全、公共卫生、重大公共利益有关的；</view>

		<view class="cm_text">3、与犯罪侦查、起诉、审判和判决执行等司法或行政执法有关的；</view>

		<view class="cm_text">4、出于维护您或其他个人的生命、财产等重大合法权益但又很难得到本人同意的；</view>

		<view class="cm_text">5、您自行向社会公众公开的个人信息；</view>

		<view class="cm_text">6、从合法公开披露的信息中收集个人信息的，如合法的新闻报道、政府信息公开等渠道。</view>

		请知悉，根据适用的法律，若我们对个人信息采取技术措施和其他必要措施进行处理，使得数据接收方无法重新识别特定个人且不能复原，则此类处理后数据的共享、转让、公开披露无需另行向您通知并征得您的同意。

		 

		<view class="title">五、我们如何保护您的信息</view>

		<view class="cm_text">（一）我们已采取符合业界标准、合理可行的安全防护措施保护您的信息，防止个人信息遭到未经授权访问、公开披露、使用、修改、损坏或丢失。例如，在您的浏览器与服务器之间交换数据时受 SSL协议加密保护；我们同时对邵氏消防商城网站提供HTTPS协议安全浏览方式；我们会使用加密技术提高个人信息的安全性；我们会使用受信赖的保护机制防止个人信息遭到恶意攻击；我们会部署访问控制机制，尽力确保只有授权人员才可访问个人信息；以及我们会举办安全和隐私保护培训课程，加强员工对于保护个人信息重要性的认识。</view>

		<view class="cm_text">（二）我们有行业先进的以数据为核心、围绕数据生命周期进行的数据安全管理体系，从组织建设、制度设计、人员管理、产品技术等方面多维度提升整个系统的安全性。目前，我们的重要信息系统已经通过网络安全等级保护的测评。</view>

		<view class="cm_text">（三）我们会采取合理可行的措施，尽力避免收集无关的个人信息。我们只会在达成本政策所述目的所需的期限内保留您的个人信息（除非法律有强制的存留要求）。</view>

		<view class="cm_text">（四）互联网并非绝对安全的环境，使用邵氏消防商城平台服务时，我们强烈建议您不要使用非邵氏消防商城平台推荐的通信方式发送您的信息。您可以通过我们的服务建立联系和相互分享。当您通过我们的服务创建交流、交易或分享时，您可以自主选择沟通、交易或分享的对象，作为能够看到您的交易内容、联络方式、交流信息或分享内容等相关信息的第三方。

		在使用邵氏消防商城服务进行网上交易时，您不可避免地要向交易对方或潜在的交易对方披露自己的个人信息，如联络方式或联系地址。请您妥善保护自己的个人信息，仅在必要的情形下向他人提供。如您发现自己的个人信息尤其是您的账户或密码发生泄露，请您立即联络邵氏消防商城客服，以便我们根据您的申请采取相应措施。

		请注意，您在使用我们服务时自愿共享甚至公开分享的信息，可能会涉及您或他人的个人信息甚至个人敏感信息，如您在评价时选择上传包含个人信息的图片。请您更加谨慎地考虑，是否在使用我们的服务时共享甚至公开分享相关信息。

		请使用复杂密码，协助我们保证您的账号安全。我们将尽力保障您发送给我们的任何信息的安全性。如果我们的物理、技术或管理防护设施遭到破坏，导致信息被非授权访问、公开披露、篡改或毁坏，导致您的合法权益受损，我们将承担相应的法律责任。</view>

		<view class="cm_text">（五）在不幸发生个人信息安全事件后，我们将按照法律法规的要求向您告知：安全事件的基本情况和可能的影响、我们已采取或将要采取的处置措施、您可自主防范和降低风险的建议、对您的补救措施等。事件相关情况我们将以邮件、信函、电话、推送通知等方式告知您，难以逐一告知个人信息主体时，我们会采取合理、有效的方式发布公告。

		同时，我们还将按照监管部门要求，上报个人信息安全事件的处置情况。</view>


		<view class="title">六、您如何管理您的信息 </view>

		您可以通过以下方式访问及管理您的信息：

		（一）查询您的信息 </br>

		您有权查询您的信息。您可以通过以下方式自行查询您的信息：

		<view class="cm_text">账户信息——如果您希望访问或编辑您的账户中的个人基本资料信息和支付信息、更改您的密码等，您可以登录账号通过"设置"执行此类操作。

		浏览信息——您可以登录账号通过"足迹"访问或清除您的浏览历史记录。 </view>

		（二）更正或补充您的信息

		<view class="cm_text">当您发现我们处理的关于您的信息有错误时，您可申请补充订单变更有关资料及信息。您可以通过邵氏消防商城客服联系我们。 </view>

		（三）删除您的信息

		您可以通过"（一）查询您的信息"中列明的方式删除您的部分信息。

		在以下情形中，您可以向我们提出删除个人信息的请求：

		<view class="cm_text">1、如果我们处理个人信息的行为违反法律法规； </view>

		<view class="cm_text">2、如果我们收集、使用您的个人信息，却未征得您的明确同意； </view>

		<view class="cm_text">3、如果我们处理个人信息的行为严重违反了与您的约定； </view>

		<view class="cm_text">4、如果您不再使用我们的产品或服务，或您主动注销了账号； </view>

		<view class="cm_text">	5、如果我们永久不再为您提供产品或服务。 </view>

		<view class="cm_text">若我们决定响应您的删除请求，我们还将同时尽可能通知从我们处获得您的个人信息的主体，并要求其及时删除（除非法律法规另有规定，或这些主体已独立获得您的授权）。

		当您或我们协助您删除相关信息后，因为适用的法律和安全技术，我们可能无法立即从备份系统中删除相应的信息，我们将安全地存储您的个人信息并将其与任何进一步处理隔离，直到备份可以清除或实现匿名。 </view>

		（四）约束信息系统自动决策

		<view class="cm_text">在某些业务功能中，我们可能仅依据信息系统、算法等在内的非人工自动决策机制做出决定。如果这些决定显著影响您的合法权益，您有权要求我们做出解释，我们也将在不侵害邵氏消防商城商业秘密或其他用户权益、社会公共利益的前提下提供申诉方法。</view>

		（五）响应您的上述请求

		为保障安全，您可能需要提供书面请求，或以其他方式证明您的身份。我们可能会先要求您验证自己的身份，然后再处理您的请求。

		在以下情形中，按照法律法规要求，我们将无法响应您的请求：

		<view class="cm_text">1、与国家安全、国防安全有关的；</view>

		<view class="cm_text">2、与公共安全、公共卫生、重大公共利益有关的；</view>

		<view class="cm_text">3、与犯罪侦查、起诉、审判和执行判决等有关的；</view>

		<view class="cm_text">4、有充分证据表明个人信息主体存在主观恶意或滥用权利的；</view>

		<view class="cm_text">5、响应您的请求将导致您或其他个人、组织的合法权益受到严重损害的；</view>

		<view class="cm_text">6、涉及商业秘密的。</view>

		 

		<view class="title">七、我们如何处理未成年人的信息?</view>

		在电子商务活动中我们推定您具有相应的民事行为能力。如您为未成年人，我们要求您请您的父母或监护人仔细阅读本隐私权政策，并在征得您的父母或监护人同意的前提下使用我们的服务或向我们提供信息。

		对于经父母或监护人同意使用我们的产品或服务而收集未成年人个人信息的情况，我们只会在法律法规允许、父母或监护人明确同意或者保护未成年人所必要的情况下使用、共享、转让或披露此信息。

		 

		<view class="title">八、您的信息如何在全球范围转移  </view>

		我们在中华人民共和国境内运营中收集和产生的个人信息，存储在中国境内，以下情形除外：

		<view class="cm_text">1、适用的法律有明确规定；</view>

		<view class="cm_text">2、获得您的明确授权；</view>

		<view class="cm_text">3、您通过互联网进行跨境交易等个人主动行为。</view>

		针对以上情形，我们会确保依据本隐私权政策对您的个人信息提供足够的保护。

		 

		<view class="title">九、本隐私权政策如何更新</view>

		我们的隐私权政策可能变更。

		未经您明确同意，我们不会限制您按照本隐私权政策所应享有的权利。我们会在专门页面上发布对隐私权政策所做的任何变更，并提前7天公示。

		对于重大变更，我们还会提供更为显著的通知（包括我们会通过邵氏消防商城公示的方式进行通知甚至向您提供弹窗提示）。

		本政策所指的重大变更包括但不限于：

		<view class="cm_text">1、我们的服务模式发生重大变化。如处理个人信息的目的、处理的个人信息类型、个人信息的使用方式等；</view>

		<view class="cm_text">2、我们在控制权等方面发生重大变化。如并购重组等引起的信息控制者变更等；</view>

		<view class="cm_text">3、个人信息共享、转让或公开披露的主要对象发生变化；</view>

		<view class="cm_text">4、您参与个人信息处理方面的权利及其行使方式发生重大变化；</view>

		<view class="cm_text">5、我们负责处理个人信息安全的责任部门、联络方式及投诉渠道发生变化；</view>

		<view class="cm_text">6、个人信息安全影响评估报告表明存在高风险。 </view>

		 

		<view class="title">十、如何联系我们</view>

		您可以通过以下方式与我们联系：

		<view class="cm_text">1、如对本政策内容有任何疑问、意见或建议，您可通过邵氏消防商城客服与我们联系；</view>

		<view class="cm_text">2、如发现个人信息可能被泄露，您可以通过110投诉举报；</view>

		 

		<view class="title">十一、争议解决</view>

		<view class="cm_text">因本隐私保护政策以及我们处理您个人信息事宜引起的任何争议，您可诉至福州人民法院。</view>


		 

		首次发布时间：2019年12月11日
	</view>
</template>

<script>
export default {
	data() {
		return {
			formParams:{
				type:0
			},
			src:''
		};
	},
	onLoad(options) {
		// let type =  parseInt(options.type) ;
		// this.formParams.type=type
		// this._loadData('refresh');

	},
	methods: {
	
		async _loadData(type, callback) {
			let that = this
			try {
				this.$ui.showloading();
				let res = await this.$api.getGuide(this.formParams);
				this.$ui.hideloading()
				if (res.result==1) {
					that.src = res.data.Value
					uni.setNavigationBarTitle({
						title:res.data.Text
					})
				} else {
					that.$ui.toast(res.msg)
				}
			} catch (err) {
				console.log('请求结果false : ' + err)
			}
			if (callback) callback()
		},
	}
};
</script>

<style lang="scss" scoped>
	.pages{
		padding: 20rpx;
		line-height: 1.5;
		.cm_title{
			line-height: 3;
			text-align: center;
		}
		.cm_text{
			line-height: 2;
		}
		.title{
			font-size: 28rpx;
			font-weight: 600;
			line-height: 5;
		}
	}
	
</style>
